@font-face {
  font-family: Tahoma;
  src: url("/img/fonts/Tahoma.ttf") format("truetype");
}
@font-face {
  font-family: "Tahoma-bold";
  src: url("/img/fonts/Tahomabold.ttf") format("truetype");
}
@font-face {
  font-family: "Tahoma-regular";
  src: url("/img/fonts/Tahoma Regular font.ttf") format("truetype");
}
@font-face {
  font-family: "Tahoma-semibold";
  src: url("/img/fonts/TAHOMA_0.ttf") format("truetype");
}
@font-face {
  font-family: "Tahoma-regularbold";
  src: url("/img/fonts/TAHOMAB0.ttf") format("truetype");
}

body {
  height: 100%;
  margin: 0;
  background: #3e003e;
  font-family: Tahoma;
  cursor: default;
}

a {
  text-decoration: none;
}

footer a {
  color: #ffffff;
}

.navbar_home {
  width: 100%;
}

.wrapper {
  max-width: 1024px;
  max-height: 768px;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
  margin-top: 47px;
}

.text-primary {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 22.4864px;
  line-height: 1;
  color: #3e003e;
}
.text-secondary {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 22.4864px;
  /* line-height: 61px; */
  color: #ffffff;
}
.text-operations {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 12.7541px;
  color: #3e003e;
}

.text-negrilla {
  font-family: Tahoma;
  font-weight: 700;
  font-size: 12px;
  color: #3e003e;
}
.text-print {
  font-weight: 400;
  font-size: 50px;
  font-family: Tahoma;
  color: #3e003e;
}
.text-print-body {
  font-family: Tahoma;
  color: #3e003e;
  font-weight: 400;
  font-size: 31.8919px;
}
.text-regular {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 12px;
  color: #3e003e;
}
.logo-home {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 22.5073px;
  line-height: 61px;
}

.number-dni {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #3e003e;
}
.nabu-buttonConfirm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 11px 16px;
  gap: 10px;
  border-radius: 7.4px;
  background: #3e003e;
  font-size: 12.7px;
  font-family: Tahoma;
  color: #ffffff;
  box-shadow: 4.49728px 4.49728px 14.9909px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  cursor: pointer;
}

.nabu-buttonConfirmDisable {
  background: #3e003ec2;
}

.button-change-account {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 7.4px;
  font-size: 12.7px;
  font-family: Tahoma;
  line-height: 1;
  color: #3e003e;
  border: 1px solid #3e003e;
  box-shadow: 4.49728px 4.49728px 14.9909px rgba(0, 0, 0, 0.25);
  outline: none;
  cursor: pointer;
  margin-right: 14px;
}
.button-change-account svg {
  margin-right: 13px;
}
.active {
  background-color: #3e003e;
  border-left: 6px solid #00f8ff !important;
}
.active .item-icon svg {
  stroke: #ffffff;
}
.active .item-icon svg path {
  fill: #ffffff;
}
.active .pad {
  stroke: #ffffff;
}
.active .text-operations {
  color: #ffffff;
}

.active .item-icon rect {
  stroke: #ffffff;
}

.isActive {
  border: 3px solid #3e003e !important;
}

.noActive {
  border: 3px solid transparent;
}

/* Navbar */

#navbar {
  display: flex;
  position: relative;
  margin-top: 36px;
  justify-content: space-between;
  align-items: center;
  margin-right: 91px;
  margin-left: 91px;
}
#navbar .logo-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .logo-home span {
  margin-left: 34px;
  color: #ffffff;
  gap: 6px;
}

#navbar .logo-home .logo-navbar {
  width: 64px;
  height: 64px;
}

#navbar .flag_right {
  position: absolute;
  top: -36px;
  right: -91px;
  z-index: -1;
  background: transparent;
}

#navbar .container-fluid {
  justify-content: flex-end;
}
#navbar .navbar-lang-eng {
  font-family: Tahoma;
  font-size: 11.3px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
}
#navbar .navbar-lang-es {
  font-family: Tahoma;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
}

/* HomePage */

#homePage .logo {
  display: flex;
  justify-content: center;
  margin-top: 114px;
}
#homePage .messageWelcome {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#homePage .textWelcome {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 61px;
  color: #ffffff;
}

#homePage .operations {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  gap: 23px;
  cursor: pointer;
}
#homePage .textOperations {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 61px;
  color: #ffffff;
}

/* Footer Page */

footer {
  position: fixed;
  bottom: 34.5px;
  width: 1024px;
  color: white;
}

#footer {
  display: flex;
  justify-content: center;
  bottom: 0;
}
#footer .textFooter {
  font-family: Tahoma;
  height: 50px;
  font-size: 11.25px;
}
#footer .flag_left {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
#footer .flag_left span {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 11.25px;
  letter-spacing: -0.011em;
}

#footer .quit-app {
  position: absolute;
  left: 94px;
  bottom: 35px;
}
#footer .quit-app-salir {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 22.5073px;
  margin-left: 10px;
}

/* PAGE DNI CONSULT USER */

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#dni-consult .text-dni {
  margin-top: 43px;
  margin-bottom: 63px;
  padding: 0 6px;
}
#dni-consult .consult-dni {
  background: white;
  height: 255px;
  border-radius: 22px;
  width: 676px;
}

#dni-consult .consult-dni .label-dni {
  padding: 36px 36px 0 50px;
}

#dni-consult .consult-dni .label-dni .text-label span {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 18.7387px;
}
#dni-consult .consult-dni .label-dni .input-dni {
  margin-top: 32px;
  padding: 0 16px 0 0;
}
#dni-consult .consult-dni .label-dni input {
  width: 96%;
  height: 72px;
  padding: 0 0px 0 16px;
  outline: none;
  border: none;
  background-color: #ededed;
  border-bottom: 2.25px solid #3e003e;
}
#dni-consult .consult-dni .label-dni .button-dni {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
}
#dni-consult .consult-dni .label-dni .button-dni .nabu-buttonConfirm {
  width: 122.94px;
  height: 42px;
}

/* PAGE LIST BANKS */

#banks {
  z-index: 999;
}
#banks .bank-card {
  background: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 22.51px;
}
#banks .bank-card .card-header {
  padding: 47px 47px 47px 41px;
}

#banks .bank-card .card-header .text-primary {
  font-size: 15px;
  letter-spacing: -0.011em;
}
#banks .bank-card .card-body {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: center;
  gap: 36px;
  margin: 0 45px 0 41px;
}
#banks .bank-card .card-body .card-bank-body {
  display: grid;
  place-content: center;
  width: 163px;
  height: 120px;
  box-shadow: 5.33577px 5.33577px 17.7859px rgb(0 0 0 / 25%);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
  border: 3.5px solid transparent;
}

#banks .bank-card .card-body .card-bank-body:hover {
  border: 3.5px solid #3e003e;
}

#banks .card-footer {
  margin-top: 73px;
  height: 100%;
  padding: 0 44px 27px 44px;
  display: flex;
  justify-content: flex-end;
}
#banks .card-footer .nabu-buttonConfirm {
  width: 123px;
  height: 42px;
}

/* MENU DE OPERACIONES */

#operations {
  display: flex;
  justify-content: center;
  gap: 28px;
}

#operations .col-menu-operations {
  height: 100%;
  width: 303.85px;
  background-color: #ffffff;
  box-shadow: 4.50146px 4.50146px 15.0049px rgba(0, 0, 0, 0.25);
  border-radius: 22.5073px;
}

#operations .col-menu-operations .card .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  margin-left: 16px;
}
#operations .col-menu-operations .card .card-header .text-header-operations {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 18.7561px;
  /* line-height: 61px; */
  color: #3e003e;
}

#operations .col-menu-operations .card .card-body .list-item-operations {
  padding: 0 20px 0 15px;
  list-style: none;
  margin: 26px 0 26px 0;
}
#operations
  .col-menu-operations
  .card
  .card-body
  .list-item-operations
  .item-operation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  border-right: 1px solid transparent;
  border-top: 1px solid #3e003e;
  border-left: 6px solid #f1f1f1;
}
/* #operations
  .col-menu-operations
  .card
  .card-body
  .list-item-operations
  .item-operation
  svg {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
} */

#operations
  .col-menu-operations
  .card
  .card-body
  .list-item-operations
  .item-operation
  .item-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#operations
  .col-menu-operations
  .card
  .card-body
  .list-item-operations
  .item-operation
  .item-icon
  .text-operations {
  margin-left: 15px;
}
#operations
  .col-menu-operations
  .card
  .card-body
  .list-item-operations
  .item-operation.card-body
  .list-item-operations
  .item-operation
  img {
  margin-right: 8px;
}
#operations .col-menu-operations .card .card-footer {
  display: flex;
  padding: 0 20px 0 15px;
  margin-bottom: 22px;
}
#operations .col-menu-operations .card .card-footer .text-footer {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #565656;
}

#operations .col-welcome-operations {
  height: 527px;
  width: 508px;
  background-color: #ffffff;
  box-shadow: 4.50146px 4.50146px 15.0049px rgba(0, 0, 0, 0.25);
  border-radius: 22.5073px;
}

/* OperationsHome */

#operationHome .card .card-header {
  position: relative;
}
#operationHome .card .card-header .card-img-arrowleft {
  position: absolute;
  top: 170px;
  left: 34px;
}
#operationHome .card .card-header .card-img-implement {
  position: absolute;
  left: 71px;
  top: 58px;
}
#operationHome .card .card-body {
  position: absolute;
  bottom: 125px;
  text-align: center;
  margin: 0 auto;
  width: 508px;
}

#operationHome .card .card-body .text-card-body {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

/* LISTADO DE CUENTAS EN EL BANCO */

#accounts {
  position: relative;
  height: 527px;
}
#accounts .card {
  padding: 40px 40px 26px 44px;
}
#accounts .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  height: 100%;
}
#accounts .card .card-header .text-primary {
  font-size: 15px;
  line-height: 0;
}

#accounts .card .card-header .card-img-bank {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 45.01px;
  width: 54.02px;
  background: #ffffff;
  box-shadow: 4.50146px 4.50146px 15.0049px rgba(0, 0, 0, 0.25);
  border-radius: 5.25171px;
}
#accounts .card .card-header img {
  height: 27px;
  width: 48px;
}

#accounts .card .card-body .card-item-account {
  border: 1.4px solid transparent;
  box-shadow: 4.50146px 4.50146px 15.0049px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 26px;
  padding: 13px 25px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 13px;
}
#accounts .card .card-body .card-item-account:hover {
  border: 1.4px solid #3e003e;
  font-weight: 700;
}

#accounts .card .card-body .card-item-account .card-account {
  padding: 0 13px 0 0;
  width: 130px;
  border-right: 1px solid #3e003e;
}
#accounts .card .card-body .card-item-account .card-type-account {
  padding: 0 13px 0 0;
  width: 90px;
  border-right: 1px solid #3e003e;
}

#accounts .card .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 27px;
}
#accounts .card .card-footer .button-change-account {
  padding: 10px 14px;
}

/* DETALLES O RESUMEN DE CUENTA */

#detaillAccount {
  position: relative;
  height: 527px;
}
#detaillAccount .card {
  padding: 31px 40px 22px 44px;
}

#detaillAccount .card .card-detalles-header {
  border: 1.4px solid transparent;
  box-shadow: 4.50146px 4.50146px 15.0049px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 11px 24px;
  display: flex;
  align-items: center;
  margin-bottom: 14.75px;
}
#detaillAccount .card .card-detalles-header .card-saldo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-right: 2px solid #3e003e;
  margin: 0;
  padding: 0 34px 0 0;
  gap: 12px;
}
#detaillAccount .card .card-detalles-header .card-saldo .number-negrilla {
  font-size: 19px;
  font-family: Tahoma;
  font-weight: 400;
  color: #3e003e;
}
#detaillAccount .card .card-detalles-header .card-header-img-bank {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-left: 35px;
  height: 100%;
  gap: 10px;
}

#detaillAccount
  .card
  .card-detalles-header
  .card-header-img-bank
  .card-header-img {
  display: flex;
  background: #ffffff;
  box-shadow: 3.78775px 3.78775px 12.6258px rgb(0 0 0 / 25%);
  border-radius: 4.41904px;
  height: 36px;
  align-items: center;
  width: 43px;
  justify-content: center;
}

#detaillAccount
  .card
  .card-detalles-header
  .card-header-img-bank
  .card-header-img
  .card-img {
  width: 38px;
  height: 21px;
  border-radius: 6px;
}
#detaillAccount .card .card-detalles-header .card-account {
  display: grid;
  justify-items: start;
  height: 100%;
  gap: 12px;
  margin-left: 50px;
}

#detaillAccount .card .card-detalles-header .card-account .card-number-account {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#detaillAccount .card .card-body {
  position: relative;
  border: 1.4px solid transparent;
  box-shadow: 4.50146px 4.50146px 15.0049px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 11px 24px;
  height: 290px;
}
#detaillAccount .card .card-body .card-body-title {
  width: 100%;
  height: 26px;
  border-bottom: 1px solid #3e003e;
}
#detaillAccount .card .card-body .card-table {
  margin-top: 12px;
  /* max-height: 224px;
  overflow-y: scroll;
  overflow-x: hidden; */
}

#detaillAccount .card .card-body .card-table table {
  width: 100%;
}
#detaillAccount .card .card-body .card-table thead {
  text-align: left;
}
#detaillAccount .card .card-body .card-table tbody {
  width: 100%;
  text-align: left;
  margin: 11px 0 8px 0;
}
/* #detaillAccount thead tr th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
 */
#detaillAccount .card .card-body .card-table tbody tr {
  height: 30px;
}

#detaillAccount .card .card-body .card-table .fecha {
  width: 80px;
}
#detaillAccount .card .card-body .card-table .description {
  width: 130px;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

#detaillAccount .card .card-body .card-footer-title {
  position: absolute;
  bottom: 16px;
}
#detaillAccount .card .card-body .card-footer-title .footer-title {
  font-family: Tahoma;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

#detaillAccount .card .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 22px;
}
#detaillAccount .card .card-footer .nabu-buttonConfirm {
  padding: 11px 19px 11px 15px;
}
#detaillAccount .card .card-footer .button-change-account {
  padding: 10px 14px;
}

/* COMPROBANTE DE CUENTA */

#print-transactions {
  position: relative;
  height: 527px;
}
#print-transactions .card {
  padding: 31px 41px 26px 44px;
}

#print-transactions .card .card-detalles-header {
  border: 1.4px solid transparent;
  box-shadow: 4.50146px 4.50146px 15.0049px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 11px 24px;
  display: flex;
  align-items: center;
  margin-bottom: 14.75px;
}
#print-transactions .card .card-detalles-header .card-saldo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-right: 2px solid #3e003e;
  margin: 0;
  padding: 0 34px 0 0;
  gap: 12px;
}
#print-transactions .card .card-detalles-header .card-saldo .number-negrilla {
  font-size: 19px;
  font-family: Tahoma;
  font-weight: 400;
  color: #3e003e;
}
#print-transactions .card .card-detalles-header .card-header-img-bank {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-left: 35px;
  height: 100%;
  gap: 10px;
}

#print-transactions
  .card
  .card-detalles-header
  .card-header-img-bank
  .card-header-img {
  display: flex;
  background: #ffffff;
  box-shadow: 3.78775px 3.78775px 12.6258px rgb(0 0 0 / 25%);
  border-radius: 4.41904px;
  height: 36px;
  align-items: center;
  width: 43px;
  justify-content: center;
}

#print-transactions
  .card
  .card-detalles-header
  .card-header-img-bank
  .card-header-img
  .card-img {
  width: 38px;
  height: 21px;
  border-radius: 6px;
}
#print-transactions .card .card-detalles-header .card-account {
  display: grid;
  justify-items: start;
  height: 100%;
  gap: 12px;
  margin-left: 50px;
}

#print-transactions
  .card
  .card-detalles-header
  .card-account
  .card-number-account {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#print-transactions .card .card-body {
  margin-top: 34px;
}
#print-transactions .card .card-body .card-body-title {
  margin-bottom: 25px;
}

#print-transactions .card .card-body .button-optional {
  display: flex;
  justify-content: space-between;
}

#print-transactions .card .card-body .button-optional .button-change-account {
  font-size: 17px;
  width: 199px;
  height: 55px;
  margin: 0;
  padding: 0 0 0 10px;
  border: 3px solid transparent;
  margin-bottom: 13px;
}
#print-transactions
  .card
  .card-body
  .button-optional
  .button-change-account:hover {
  border: 3px solid #3e003e;
}
#print-transactions .card .card-body .button-optional span {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #c5c5c5;
}
#print-transactions .card .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 27px;
}
#print-transactions .card .card-footer .button-change-account {
  padding: 10px 16px;
  justify-content: center;
}

/* VERIFICACION DE HUELLAS DACTILARES */

@import "../../../../variables.module.scss";

#verify .card-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
  text-align: center;
}

#verify .card-header .text-secondary {
  line-height: 40px;
}

#verify .card-header .text-card-header {
  font-family: Tahoma;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
}

#verify .card-body {
  margin-top: 32px;
  background: white;
  height: 255px;
  border-radius: 22px;
  width: 676px;
}
#verify .card-body .label-dni {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 55px;
  gap: 55px;
}
#verify .card-body .label-dni .body-left .text-label {
  display: flex;
  align-items: center;
  gap: 8px;
}
#verify .card-body .label-dni .body-left .text-label .text-loading {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 18px;
  color: #3e003e;
}

#verify .card-body .label-dni .body-left .card-info {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 10px;
  margin-top: 43px;
}
#verify .card-body .label-dni .body-left .card-info .item-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 18.7311px;
}

#verify .card-body .label-dni .body-right {
  position: relative;
}
#verify .card-body .label-dni .body-right .huella img {
  position: absolute;
  left: 0;
}
#verify .card-body .label-dni .body-right .huella svg circle {
  fill: #00f8ff;
}
/* IMPRESION POR CORREO O EMAIL */

#email .card {
  background: white;
  height: 527px;
  border-radius: 22px;
  width: 840px;
  position: relative;
}
#email .card .card-printed {
  padding: 113px 38px 38px 87px;
}
#email .card .card-printed .card-header {
  display: flex;
  align-items: center;
}
#email .card .card-printed .card-header .card-info-print {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-left: 33px;
}
#email .card .card-printed .card-header .card-info-print svg {
  margin-bottom: 16px;
}

#email .card .card-printed .card-body {
  margin-top: 76px;
}
#email .card .card-printed .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 27px;
}
#email .card .card-printed .card-footer .button-change-account {
  padding: 10px 14px;
}

/* IMPRESION POR IMPRESORA */

#printed .card {
  background: white;
  height: 527px;
  border-radius: 22px;
  width: 840px;
  position: relative;
}
#printed .card .card-printed {
  padding: 113px 38px 38px 87px;
}
#printed .card .card-printed .card-header {
  display: flex;
  align-items: center;
}
#printed .card .card-printed .card-header .card-info-print {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-left: 33px;
}
#printed .card .card-printed .card-body {
  margin-top: 76px;
}
#printed .card .card-printed .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 27px;
}
#printed .card .card-printed .card-footer .button-change-account {
  padding: 10px 14px;
}

/* EXTRACCION DE EFECTIVO */

#amount_take {
  position: relative;
  height: 527px;
}
#amount_take .card {
  padding: 56px 55px 26px 48px;
}
#amount_take .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  height: 100%;
}
#amount_take .card .card-header-cheque {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  height: 100%;
}
#amount_take .card .card-header-cheque .text-primary {
  font-size: 15px;
}
#amount_take .card .card-header .text-primary {
  font-size: 15px;
  line-height: 1;
}
#amount_take .card .card-body .card-body-cheque {
  margin-bottom: 30px;
}
#amount_take .card .card-body .card-body-cheque-amount input {
  padding: 0 10px;
  border: none;
  outline: none;
  border-bottom: 2.25px solid #3e003e;
  background-color: #ededed;
  height: 72px;
  width: calc(100% - 20px);
  font-family: Tahoma-bold;
  letter-spacing: -0.011em;
  line-height: 61px;
  font-weight: 900;
  font-size: 50px;
}

#amount_take .card .card-body .card-body-othervalue {
  margin-top: 32px;
}
#amount_take .card .card-body .card-body-othervalue .card-body-info {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 61px;
  color: #3e003e;
}
#amount_take .card .card-body .card-body-othervalue input {
  padding: 0 10px;
  border: none;
  outline: none;
  border-bottom: 2.25px solid #3e003e;
  background-color: #ededed;
  height: 72px;
  width: calc(100% - 20px);
  font-family: Tahoma-bold;
  letter-spacing: -0.011em;
  line-height: 61px;
  font-weight: 900;
  font-size: 50px;
}
#amount_take .card .card-body .card-body-valores {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 31px;
  grid-template-columns: repeat(2, 1fr);
}
#amount_take .card .card-body .card-item-account {
  display: flex;
  justify-content: center;
  font-family: Tahoma;
  font-style: normal;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.011em;
  border: 3px solid transparent;
  box-shadow: 4.50146px 4.50146px 15.0049px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 14px 25px;
  background-color: #ffffff;
  color: #3e003e;
}
#amount_take .card .card-body .card-item-account:hover {
  border: 3px solid #3e003e;
  font-weight: 700;
}

#amount_take .card .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 27px;
}
#amount_take .card .card-footer .button-change-account {
  padding: 10px 14px;
}

/* CONFIRMACION DE EXTRACCION Y DEPOSITO SE LE LLAMA DE MANERA GENERA YA QUE ESTA EN OTROS COMPONENTES */

#confirmation {
  position: relative;
  height: 527px;
}
#confirmation .card {
  padding: 57px 55px 26px 48px;
}
#confirmation .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}
#confirmation .card .card-header .text-primary {
  font-size: 15px;
}
#confirmation .card .card-body {
  margin-top: 33px;
}
#confirmation .card .card-body .card-body-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 28px;
  margin-top: 70px;
}

#confirmation .card .card-body .card-body-ticket .body-ticket {
  margin-top: 20px;
}
#confirmation .card .card-body .card-body-ticket .body-ticket-transferencia {
  margin-top: 31px;
}

#confirmation .card .card-body .card-body-ticket .text-ticket {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #3e003e;
}
#confirmation .card .card-body .card-body-ticket .text-ticket-transferencia {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #3e003e;
}
#confirmation .card .card-body .card-body-ticket .text-ticket-bold {
  font-family: Tahoma-bold;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #3e003e;
}
#confirmation
  .card
  .card-body
  .card-body-ticket
  .text-ticket-bold-transferencia {
  font-family: Tahoma-bold;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #3e003e;
}
#confirmation .card .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 27px;
}
#confirmation .card .card-footer .button-change-account {
  padding: 10px 14px;
}

/* CUANDO LA TRANSACION HA SIDO SATISFACTORIO */

#successful_extrac {
  position: relative;
  height: 527px;
}
#successful_extrac .card {
  padding: 57px 55px 26px 48px;
}
#successful_extrac .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#successful_extrac .card .card-header .text-primary {
  font-size: 15px;
}
#successful_extrac .card .card-body {
  margin-top: 71px;
}
#successful_extrac .card .card-body .card-body-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 28px;
}

#successful_extrac .card .card-body .card-body-ticket .body-ticket {
  margin-top: 24px;
}

#successful_extrac
  .card
  .card-body
  .card-body-ticket
  .body-ticket
  .text-ticket-bold {
  font-family: Tahoma-bold;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #3e003e;
}
#successful_extrac .card .card-footer {
  display: flex;
  position: absolute;
  right: 38.74px;
  bottom: 27px;
}
#successful_extrac .card .card-footer .button-change-account {
  padding: 10px 14px;
}

/* TIPO DE ENVIO EN DEPOSITOS */
