<div id="banks">
  <div class="list-banks">
    <div class="bank-card">
      <div class="card-header">
        <span class="text-primary"
          >Selecciona un banco de las siguientes opciones</span
        >
      </div>
      <div class="card-body">
        <!-- *ngFor="let bank of listBanks" -->
        <div class="card-bank-body" ng-repeat="bank in listaBanks">
          <img src="{{bank.logo_bank}}" alt="" />
        </div>
      </div>
      <div class="card-footer">
        <a href="/consulta_saldo/#!/operaciones">
          <button class="nabu-buttonConfirm">
            <svg
              width="18"
              height="13"
              viewBox="0 0 18 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.37016 3.86559L7.29803 8.79346L15.5112 0.580337L17.1538 2.22296L7.29803 12.0787L0.727538 5.50821L2.37016 3.86559Z"
                fill="white"
              />
            </svg>
            Confirmar
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
